{% extends 'base.html' %}
{% load static %}


{% block title %}Getting started first steps page{% endblock %}


{% block content %}
<div class="header" style="padding: 0.5rem 1rem;">
    <h1 style="text-align: center;">Congratulations on getting started {{ request.user }}!</h1>
    <p style="text-align: center;">This is a simple guide to help you start tracking your financial goals!</p>
</div>

<div class="card step-container" style="padding: 1rem;">
    <div class="step-text">
        <h1>Step One: Set a savings goal</h1>
        <p>This should not be a one time thing.</p>
        <p>As your financial maturity grows and your financial situation changes this should be updated.</p>
    </div>
    <div class="align-right">
        <a href="{% url 'savings_goal' %}" class="btn">Stack Bread</a>
    </div>

    <div class="step-image">
        <img src="{% static 'images/stacking_bread.jpg' %}" alt="Savings Motivation">
    </div>
</div>

<div class="card step-container" style="padding: 1rem;">
    <div class="step-text">
        <h1>Step Two: Add Income</h1>
        <p>Identify all your income sources that are recurring thar you currently have and associate the with your profile.</p>
    </div>
    <div class="align-right">
        <a href="{% url 'add_transaction' %}" class="btn">Add Proof of Income</a>
    </div>

    <div class="step-image">
        <img src="{% static 'images/money_spread.jpg' %}" alt="Money Spread">
    </div>
</div>

<div class="card step-container" style="padding: 1rem;">
    <div class="step-text">
        <h1>Step Three: Add Expenses</h1>
        <p>Identify all expenses that you can think of that occur every month.</p>
        <p>You will add the 'one off' expenses as they occur.</p>
    </div>
    <div class="align-right">
        <a href="{% url 'add_transaction' %}" class="btn">Track Burning Money</a>
    </div>

    <div class="step-image">
        <img src="{% static 'images/money_fire.jpg' %}" alt="Burn Money">
    </div>
</div>

{% endblock %}